# Dados
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep

# Notas pessoais
docs/

# Python
__pycache__/
*.pyc
.venv/
.ipynb_checkpoints/

# Node / dashboard
dashboard/node_modules/
dashboard/dist/

# Sistema
.DS_Store